[submodule "src/notepad-plus-plus"]
	path = src/notepad-plus-plus
	url = https://github.com/notepad-plus-plus/notepad-plus-plus.git
[submodule "src/tinyxml2"]
	path = src/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "src/regex"]
	path = src/regex
	url = https://github.com/boostorg/regex.git
