*.sdf
*.sln
*.suo
bin/
bin64/
arm64/
**/Debug
**/Release
**/x64
**/ARM64
**/NppPlugi.*
**/Plugin.opensdf
**/Plugin.exp
**/Plugin.lib
**/Plugin.vcxproj.user
**/.vs/
*.aps
*.zip
*.bak
*.o
*.a
*.dll
*.log
*.lib
*.exp
out/
.vscode/settings.json
*.vcxproj.user
src/RAScript.rc
src/Config.hpp
temp/